.landing-body {
  position: relative;
  display: flex;
  max-width: 100vw;

  background-image: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
}

.landing-feature {
  display:flex;
  flex-direction:column;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

.landing-title {
  color: white;
  font-size: 40px;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 10.0em;

  font-size: 3.0em;
  font-family: Blippo, fantasy;
}

.landing-content {
  width: 50vw;
}

.underline--magical {
  background-image: linear-gradient(120deg, #ffe2a4 0%, #bf4b44 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}
