.landing-body {
  position: relative;
  display: flex;
  max-width: 100vw;

  background-image: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  justify-content: center;
}

.landing-title {
  color: white;
  font-size: 40px;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 10.0em;

  font-size: 3.0em;
  font-family: Blippo, fantasy;
}
