footer {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  width: 100vw;
}

.landing {
  background-image: url('./assets/LANDING.jpg');
  background-size: auto 100vh;
  height: 100vh;
}